.bg-custom {
    background-color: #002962;
}

.bg-custom-2{
    background: #004E89;
}

.shadow-2{
    box-shadow: 0px 3.419px 12.822px 0px rgba(0, 0, 0, 0.25);
}

.box-size-analysis{
    width: 20% !important;
}

@font-face {
    font-family: aeronaves;
    src: url(../font/AeronavesPersonalUseOnly-0WWnz.ttf);
}

.font-avion {
    font-family: aeronaves;
}

.font-normal {
    font-family: nunito;
}

nav {
    box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.25);
    height: 100vh !important;
}

nav a:not(.exclu) {
    transition: all 0.25s ease;
}

nav a:not(.exclu):hover {
    background-color: #FFF !important;
    color: #002962 !important;
}

.ml-custom {
    margin-left: 27%;
}

.text-blue {
    color: #002962 !important;
}

.logo-shadow {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.shadow{
    box-shadow: 0px 5.528px 24px 0px rgba(0, 41, 98, 0.30);
}