* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: aeronaves;
    src: url(../font/AeronavesPersonalUseOnly-0WWnz.ttf);
}

.font {
    font-family: Nunito;
}

.size-1 {
    font-size: 0.8vw;

}


.size-2 {
    /*text général*/
    font-size: 1vw;

}

.size-2-5 {
    font-size: 1.3vw;
}

.size-3 {
    /*moyen titre*/
    font-size: 2vw;
}

.size-4 {
    font-size: 2.3vw;

}

.size-5 {
    font-size: 3.5vw;
    font-weight: 600;
}

h1,
h2 {
    font-family: aeronaves;
}

/*HEADER*/
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: aeronaves;
    background: linear-gradient(180deg, rgba(0, 41, 98, 0.90) 11.85%, rgba(0, 54, 129, 0.45) 56.64%, rgba(0, 78, 137, 0.20) 76.95%, rgba(0, 78, 137, 0.00) 100%, rgba(0, 78, 137, 0.00) 100%);
}

.lien_nav {
    font-size: 1vw;
    padding: 0.5vw 0.7vw 0.5vw 0.65vw;
    transition: all 0.25s ease;
    border-radius: 34px;
    border: 1px solid transparent;
    text-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
}

.lien_nav:hover {
    background-color: #002962;
    border-radius: 34px;
}

.lien_nav:active {
    border-color: #FFF;
}

#account {
    cursor: pointer;
}

#account path:last-child {
    transition: fill 0.25s ease;
}

#account:hover path:last-child {
    fill: #002962;
}

/*HEADER*/

.bg-body {
    background-color: #407BA7 !important;
}

.text-blue {
    color: #002962;
}

form {
    width: 33% !important;
}

.background {
    background: linear-gradient(180deg, #FFF 0%, #CBD5E1 100%);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.shadow-img {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.input-custom {
    border: 2px solid #002962;
}

.button_suivant {
    cursor: pointer;
    background-color: #002962;
    width: fit-content;
    border: 1px solid transparent;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

.button_suivant:hover {
    border-color: #fff;
}

.button_return:hover {
    border-color: #fff;
    background-color: #002962 !important;
    color: #FFF !important;
}

.button_return {
    cursor: pointer;
    width: fit-content;
    border: 1px solid #002962;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

.button_inscri {
    background: rgba(0, 41, 98, 0.80);
    cursor: pointer;
    width: fit-content;
    border: 1px solid transparent;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

.button_inscri:hover{
    border-color: #fff;
    background-color: #002962 !important;
}

#card2 {
    display: none;
}

#card3 {
    display: none;
}