* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: aeronaves;
    src: url(../font/AeronavesPersonalUseOnly-0WWnz.ttf);
}

.font {
    font-family: Nunito;
}

.size-1 {
    font-size: 0.8vw;

}


.size-2 {
    /*text général*/
    font-size: 1vw;

}

.size-2-5 {
    font-size: 1.3vw;
}

.size-3 {
    /*moyen titre*/
    font-size: 2vw;
}

.size-4 {
    font-size: 2.3vw;

}

.size-5 {
    font-size: 3.5vw;
    font-weight: 600;
}

.text-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*backToTop*/
#backToTop {
    z-index: 100;
    position: sticky;
    top: 85%;
    left: 92%;
    border-radius: 50%;
    background-color: #407BA7;
    border-color: #FFF;
    border-width: 0.2em;
    border-style: solid;
    width: fit-content;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#fleche_haut {
    width: 4em;
    transition: all 0.25s ease;
}

/*backToTop*/

/*Cookie*/

.button_cookie_refus {
    border: 2px solid #002962;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear;
    font-size: 1vw;
    color: #002962;
}

.button_cookie_refus:hover {
    border-color: #D4D4D4;
    background-color: #002962;
    color: #FFF;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
}

#cookie {
    color: #002962;
    height: 17.5vh;
    padding: 0.5vw;
    z-index: 5;
    top: 75%;
    left: 2.5%;
    border-radius: 15px;
    border: 1px solid #002962;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

/*Cookie*/

/*HEADER*/
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: aeronaves;
    background: linear-gradient(180deg, rgba(0, 41, 98, 0.90) 11.85%, rgba(0, 54, 129, 0.45) 56.64%, rgba(0, 78, 137, 0.20) 76.95%, rgba(0, 78, 137, 0.00) 100%, rgba(0, 78, 137, 0.00) 100%);
}

.lien_nav {
    font-size: 1vw;
    padding: 0.5vw 0.7vw 0.5vw 0.65vw;
    transition: all 0.25s ease;
    border-radius: 34px;
    border: 1px solid transparent;
    text-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
}

.lien_nav:hover {
    background-color: #002962;
    border-radius: 34px;
}

.lien_nav:active {
    border-color: #FFF;
}

#account {
    cursor: pointer;
}

#account path:last-child {
    transition: fill 0.25s ease;
}

#account:hover path:last-child {
    fill: #002962;
}

/*HEADER*/
/*en dssous header*/

h1 {
    font-family: aeronaves;
    font-size: 5vw;
}

h2 {
    font-family: aeronaves;
}

/*en dssous header*/

.bg-body {
    background-color: #407BA7 !important;
}

/*avion haut*/
#container_avion {
    width: 35%;
    margin: 0 auto;
    perspective: 100px;
}

#avion_helice {
    position: relative;
    top: 2em;
    display: block;
    opacity: 0;
    width: 100%;
    z-index: 1;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.21, .91, .46, .99);
}

@keyframes arriver {
    from {
        transform: translateZ(-250px);
        top: -100em;
    }

    to {
        transform: translateZ(0px);
        top: 2em;
    }
}

@keyframes depart_haut {
    from {
        top: 2em;
    }

    to {
        top: 50em;
    }
}

/*avion haut*/

/*nuage*/

.rotation {
    rotate: 180deg;
}

.hauteur {
    height: 75vh;
}

/*nuage*/
/*meteo*/

.meteo_img {
    max-width: 100% !important;
}

.meteo {
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15.990756034851074px);
}

.color_meteo {
    color: #002962;
}

.color_meteo a {
    color: #002962;
}

#width_meteo_lien {
    width: fit-content;
}

.meteo_france {
    transition: color ease 0.3s;
    overflow: hidden;
    position: relative;
}

.meteo_france:hover {
    color: #2c3a5c;
}


.meteo_france::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #2c3a5c;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.meteo_france:hover::after,
.meteo_france:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}


.meteo_france::after {
    opacity: 1;
    transform: translate3d(110%, 0, 0);
}

.meteo_france:hover::after,
.meteo_france:focus::after {
    transform: translate3d(0, 0, 0);
}



/*meteo*/

/*barre*/

.width_avion_section {
    width: 85%;
}

.barre {
    width: 10%;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.drop_shodow_img {
    filter: drop-shadow(1px 1px 1px);
}

/*barre*/

/*bapteme*/

#margin_top_bapteme {
    margin-top: 10%;
}

/*bapteme*/

/*carte avion*/

.img_card_bapteme {
    width: 100%;
    height: 35%;
}

.carte_avion {
    background-image: url("../img/SVG/card\ buy.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: drop-shadow(0px 5px 10px #00000050);
    ;
}

.color-red-bapteme {
    color: #ED0101 !important;
}

.color-blue-bapteme {
    color: #002962;
}

.button_reserver_bapteme {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    background: rgba(0, 41, 98, 0.80);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear;
    font-size: 1vw;
}

.font-wheight-bapteme {
    font-weight: 700;
}

.button_reserver_bapteme:hover {
    border: 2px solid #D4D4D4;
    background: #002962;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
}


.non-strong-text {
    font-size: 0.9vw;
}

.strong-text {
    font-size: 1.1vw;
    margin-left: 0.3vw;
    margin-right: 0.5vw;
}

input[type="text"] {
    border: 1px solid #002962;
    border-radius: 8px;
    padding: 0.2em;
    font-size: 0.9vw;
    box-sizing: border-box;
    cursor: pointer;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    border: 1px solid #002962;
    border-radius: 8px;
    padding: 0.2em;
    font-size: 0.9vw;
    box-sizing: border-box;
    cursor: pointer;
}

/*carte avion*/
/*avis clients*/

.avis_clients {
    border-radius: 15px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.70) 100%);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10.350000381469727px);
    padding: 1vw;
    color: #002962;
}

/*avis clients*/

/*formation*/

#formation {
    margin-top: 15%;
}

.carte_avion2 {
    border-radius: 15px;
    background: linear-gradient(180deg, #FFF 0%, #CBD5E1 100%);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    height: 20em !important;
}

.barre-horizontale {
    background-color: #002962;
    height: 0.7vh;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

#formation2 {
    margin-top: 15%;
    height: 85vh;
}

.hauteur_container {
    height: 75% !important;
}

.hauteur_card {
    height: 100% !important;
}

/*formation*/

/*service*/

.bg-circl {
    width: 10%;
    padding-top: 10%;
    background-color: #002962;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.width_titre_service {
    width: 10%;
}

#formation_service {
    background-image: url("../img/service/lobtention-du-diplome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

#bapteme_service {
    background-image: url("../img/service/bapteme.png");
    background-repeat: no-repeat;
    background-position: center;
}

#maintenance {
    background-image: url("../img/service/maintenace.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

#assemblage {
    background-image: url("../img/service/assemblage-des-engrenages.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

#restauration {
    background-image: url("../img/service/restaurant.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

#hebergement {
    background-image: url("../img/service/adresse.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

#location {
    background-image: url("../img/service/cle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

/*service*/

/*infrastructures
J'ai mit des valeurs fixes car tout ce qui est en dessous va bouger
*/

.slide_container_img {
    position: relative;
    max-width: 95%;
    height: 32.5em;
}

.slide_container_img img {
    border-radius: 25px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

#liste_infra {
    margin-left: 2vw;
}

/*infrastructures*/

/*SLIDER*/

.slider {
    place-items: center;
}

.slide-track {
    height: 45vh;
    width: calc(18vw * 14);
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-18vw * 7));
    }
}

.slide {
    height: 45vh;
    width: 18vw;
    margin: 0em 1.5em 0em 1.5em;
}

.slide img {
    width: 100%;
    transition: transform 1s ease;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0) 100%);
    content: ' ';
    height: 100%;
    position: absolute;
    width: 5%;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    top: 0;
    left: 0;
}



.url_card_equipe_0 {
    background-image: url('../img/equipe/team-5.PNG');
}

.url_card_equipe_1 {
    background-image: url('../img/equipe/team-6.PNG');
}

.url_card_equipe_2 {
    background-image: url('../img/equipe/team-1.PNG');
}

.url_card_equipe_3 {
    background-image: url('../img/equipe/team-2.PNG');
}

.url_card_equipe_4 {
    background-image: url('../img/equipe/team-7.PNG');
}

.url_card_equipe_5 {
    background-image: url('../img/equipe/team-3.PNG');
}

.url_card_equipe_6 {
    background-image: url('../img/equipe/team-4.PNG');
}

.card_equipe {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
    aspect-ratio: 9/16;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 41, 98, 0.00) 0%, rgba(0, 41, 98, 0.35) 31.77%, rgba(0, 41, 98, 0.80) 56.77%, #002962 89.82%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.shadow-custom {
    text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.45);
}

/*slider*/

/*event*/

.ml-custom-event{
    margin-left: 1.5vw;
}

.box-shadow-custom-event{
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.barre-custom-event{
    height: 0.75vh;
    width: calc();
}

.button_event{
    background-color: #fff;
    color: #002962;
    width: fit-content;
    border: 2px solid transparent;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.button_event:hover{
    background-color: #407BA7;
    border-color: #fff;
    color: #fff;
}

/*event*/

/*avis*/

.avis{
    height: 70vh;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0.3rem;
    --stroke: #002962;
    --fill: #ffc73a;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  
.textarea_avis{
    resize: none !important;
    height: 15vh;
    border: 2px solid #002962;
}

#input_avis{
    cursor: text;
}

.button_avis{
    width: fit-content;
    border: 2px solid transparent;
    background-color: rgba(0, 41, 98, 0.80);
    border-radius: 15px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear;
}

.button_cookie_refus:hover {
    border-color: #D4D4D4;
    background-color: #002962;
    color: #FFF;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
}
/*avis*/

/*contact*/

#degrade-custom{
    background: linear-gradient(180deg, #407BA7 0%, #6CA4AD 100%);
    height: 180vh;
}

#arrive_avion{
    height: 40vh;
}

.icon-custom{
    color: white !important;
}

.container_contact{
    width: 45vw !important;
}

/*contact*/

/*footer*/

footer{
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: cover;
    height: 70vh;
}   

/*footer*/