* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: aeronaves;
    src: url(../font/AeronavesPersonalUseOnly-0WWnz.ttf);
}

.font {
    font-family: Nunito;
}

.size-1{
    /*avis plus petit*/

}
.size-2{
    /*text général*/
    font-size: 1vw;

}
.size-2-5{
    font-size: 1.3vw;
}
.size-3{
    /*moyen titre*/
    font-size: 2vw;
}
.size-4{
    /*gros titre*/

}
.size-5{
    font-size: 3.5vw;
    font-weight: 600;
}

.text-shadow{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*backToTop*/
#backToTop {
    z-index: 100;
    position: sticky;
    top: 85%;
    left: 92%;
    border-radius: 50%;
    background-color: #407BA7;
    border-color: #FFF;
    border-width: 0.2em;
    border-style: solid;
    width: fit-content;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#backToTop a img {
    width: 4em;
}

/*backToTop*/

/*HEADER*/
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: aeronaves;
    background: linear-gradient(180deg, rgba(0, 41, 98, 0.90) 11.85%, rgba(0, 54, 129, 0.45) 56.64%, rgba(0, 78, 137, 0.20) 76.95%, rgba(0, 78, 137, 0.00) 100%, rgba(0, 78, 137, 0.00) 100%);
}

.lien_nav {
    font-size: 1vw;
    padding: 0.5vw;
    transition: all 0.25s ease;
    text-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
}

.lien_nav:hover {
    background-color: #002962;
    border-radius: 34px;
}

#account {
    cursor: pointer;
}

#account path:last-child {
    transition: fill 0.25s ease;
}

#account:hover path:last-child {
    fill: #002962;
}

/*HEADER*/
/*en dssous header*/

h1 {
    font-family: aeronaves;
    font-size: 5vw;
}

h2 {
    font-family: aeronaves;
}

/*en dssous header*/

.bg-body {
    background-color: #407BA7 !important;
}

/*avion haut*/
#container_avion {
    width: 35%;
    margin: 0 auto;
    perspective: 100px;
}

#avion_helice {
    position: relative;
    top: 2em;
    display: block;
    opacity: 0;
    width: 100%;
    z-index: 1;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.21, .91, .46, .99);
}

@keyframes arriver {
    from {
        transform: translateZ(-250px);
        top: -100em;
    }

    to {
        transform: translateZ(0px);
        top: 2em;
    }
}

@keyframes depart_haut {
    from {
        top: 2em;
    }

    to {
        top: 50em;
    }
}

/*avion haut*/

/*nuage*/

.rotation {
    rotate: 180deg;
}

.hauteur {
    height: 75vh;
}

/*nuage*/
/*meteo*/

.meteo {
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15.990756034851074px);
}

.color_meteo {
    color: #002962;
}

.color_meteo a {
    color: #002962;
}

/*meteo*/

/*barre*/

.width_avion_section {
    width: 85%;
}

.barre {
    width: 10%;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.drop_shodow_img {
    filter: drop-shadow(1px 1px 1px);
}

/*barre*/

/*bapteme*/

#margin_top_bapteme {
    margin-top: 10%;
}

/*bapteme*/

/*carte avion*/

.img_card_bapteme {
    width: 65%;
    height: 30%;
}

.carte_avion {
    background-image: url("../img/SVG/card\ buy.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.25));
}

.color-red-bapteme {
    color: #ED0101 !important;
}

.color-blue-bapteme {
    color: #002962;
}

.button_reserver_bapteme {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    background: rgba(0, 41, 98, 0.80);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear;
    font-size: 1vw;
}

.font-wheight-bapteme {
    font-weight: 700;
}

.button_reserver_bapteme:hover {
    border-radius: 15px;
    border: 2px solid #D4D4D4;
    background: #002962;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
}


.non-strong-text {
    font-size: 0.9vw;
}

.strong-text {
    font-size: 1.1vw;
    margin-left: 0.3vw;
    margin-right: 0.5vw;
}


.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    border: 1px solid #002962;
    border-radius: 8px;
    padding: 0.2em;
    font-size: 0.9vw;
    box-sizing: border-box;
    cursor: pointer;
}

/*carte avion*/
/*avis clients*/

.avis_clients {
    border-radius: 15px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.70) 100%);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10.350000381469727px);
    padding: 1vw;
    color: #002962;
}

/*avis clients*/

/*formation*/

#formation {
    margin-top: 15%;
}

.carte_avion2 {
    border-radius: 15px;
    background: linear-gradient(180deg, #FFF 0%, #CBD5E1 100%);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    height: 20em !important;
}

.barre-horizontale {
    background-color: #002962;
    height: 0.7vh;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

#formation2{
    margin-top: 15%;
    height: 70vh;
}

.hauteur_container{
    height: 75% !important;
}

.hauteur_card{
    height: 100% !important;
}

/*formation*/