.bg-custom {
    background-color: #002962;
}

@font-face {
    font-family: aeronaves;
    src: url(../font/AeronavesPersonalUseOnly-0WWnz.ttf);
}

.font-avion {
    font-family: aeronaves;
}

.font-normal {
    font-family: nunito;
}

nav {
    box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.25);
    height: 100vh !important;
}

nav a:not(.exclu) {
    transition: all 0.25s ease;
}

nav a:not(.exclu):hover {
    background-color: #FFF !important;
    color: #002962 !important;
}

.ml-custom {
    margin-left: 27%;
}

.text-blue {
    color: #002962 !important;
}

.logo-shadow {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.card-container {
    overflow-x: auto;
}

.carte {
    margin-right: 2em;
    display: inline-block;
    flex: 0 0 auto;
    border: 2px solid #002962;
    width: 30%;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}

.img-bapteme {
    width: 90%;
}

.icon-event {
    box-shadow: 0px 4.353px 15.237px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.bapteme-container, .formation-container, .forfait-container{
    width: 85%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    backdrop-filter: blur(3px);
}

#confirmBapt, #confirmForfait, #confirmForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
    z-index: 500;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #002962;
}

.annul_buton {
    border: 1px solid #002962;
    cursor: pointer;
    transition: all 0.25s ease;
}

.suppr_buton {
    border: 2px solid transparent;
    transition: all 0.25s ease;
}

.annul_buton:hover {
    background: #002962 !important;
    border-color: #fff !important;
    color: #fff !important;
}

.suppr_buton:hover {
    border-color: #fff !important;
}

#modif-bapteme,
#modif-forfait,
#modif-formation,
#ajout-bapteme,
#ajout-forfait,
#ajout-formation {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #002962;
    z-index: 500;
    display: none;
}

textarea {
    resize: none !important;
}

#button_supprBapt, #button_supprForm, #button_supprForfait{
    background: rgba(0, 41, 98, 0.80) !important;
    border: 1px solid rgba(0, 41, 98, 0.80) !important;
    cursor: pointer;
}

#button_annul{
    border: 1px solid #002962;
    cursor: pointer;
}

#button_supprBapt:hover, #button_supprForm:hover, #button_supprForfait:hover{
    border-color: #002962 !important;
    background: #002962 !important;
}

#button_annul:hover{
    background: #002962 !important;
    color: #fff !important;
}

.plus-icon{
    transition: all 0.25s ease;
}

.plus-icon:hover{
    background: #002962 !important;
    color: #fff !important;
}

.cursor{
    cursor: pointer;
}

input[type="text"], input[type="number"]{
    border: 2px solid #002962;
    border-radius: 10px;
    color: #002962;
}