# Fichiers générés par votre IDE
.vscode/
.idea/

# Fichiers d'exécution
*.exe
*.out

# Dossiers et fichiers spécifiques aux langages de programmation
node_modules/
*.log

# Photos et vidéos
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.mov
*.avi

# Fichiers temporaires
*.tmp
*.temp

# Dossiers générés lors de la compilation
/dist/
/build/

# Fichiers spécifiques au système d'exploitation
Thumbs.db
.DS_Store